language: node_js
node_js:
- 4

env:
  global:
    - GIT_NAME: JayinRobot
    - GIT_EMAIL: tonjayin+robot@gmail.com
    - GITHUB_REPO: EManual/docs
    - GIT_SOURCE: _docpress

script:
- npm install docpress && ./node_modules/.bin/docpress build

after_success:
- if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then npm install git-update-ghpages && ./node_modules/.bin/git-update-ghpages -e; fi